@use "vars" as v;

.footer {
  background: var(--grey-bg-color);

  &__container {
    @include v.flex(center);
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    position: relative;

    @include v.viewport-md {
      align-items: flex-start;
    }
  }

  &__inner {
    @include v.flex;
    flex-direction: column;
    gap: 21px;

    @include v.viewport-md {
      align-items: flex-start;
    }
  }

  &__address {
    color: var(--main-color);
  }

  &__company {
    color: (var(--grey-text-color));

    @include v.viewport-md {
      position: absolute;
      top: 36.5%;
      right: 30px;
    }
  }

  &__email {
    @include v.link;

    font-weight: 700;
  }

  &__map {
    @include v.link(var(--brand-regular-color));

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__list, li {
    @include v.flex;

    flex-direction: column;
    gap: 10px;

    @include v.viewport-md {
      flex-direction: row;
    }
  }

  &__phone {
    @include v.link(var(--main-alt-color));

    text-decoration: none;
    font-weight: 700;
  }

  &__social {
    @include v.link;

    svg {
      width: 38px;
      height: 38px;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    color: var(--grey-separator-color);

    &--default {
      background: var(--grey-separator-color);
    }

    &--gray {
      --grey-separator-color: var(--grey-text-color);
    }
  }
}
