@use "vars" as v;

.footer {

  &__container {
    @include v.flex(center);
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    position: relative;

    @media (min-width: v.$breacpoint-md) {
      @include v.flex(center,flex-start);
    }
  }

  &__box {
    @include v.flex;
    flex-direction: column;
    gap: 21px;

    @media (min-width: v.$breacpoint-md) {
      @include v.flex(center,flex-start);
    }
  }

  &__address {
    color: var(--main-color);
  }

  &__company {
    color: (var(--grey-text-color));

    @media (min-width: v.$breacpoint-md) {
      position: absolute;
      top: 39%;
      right: 30px;
      transform: translateY(-50%);
    }
  }

  &__email {
    @include v.link;

    font-weight: 700;
  }

  &__map {
    @include v.link;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__list {
    @include v.flex;

    flex-direction: column;
    gap: 10px;
    

    @media (min-width: v.$breacpoint-md) {
      flex-direction: row;
    }
  }

  &__phone {
    @include v.link(var(--main-alt-color));

    font-weight: 700;
  }

  &__social {
    @include v.link;

    svg {
      width: 38px;
      height: 38px;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    color: var(--grey-separator-color);

    &--default {
      background: var(--grey-separator-color);
    }

    &--gray {
      --grey-separator-color: var(--grey-text-color);
    }
  }
}
