@use "vars" as v;

body {
  font-family: v.$main-font;
  font-weight: 400;
}

.wrapper {
  background: var(--super-soft-gradient);
  border-bottom-left-radius: v.$rounded-md;
  border-bottom-right-radius: v.$rounded-md;
  box-shadow: inset;
  position: relative;

  &::before,
  &::after {
    content: "";
    background: #CACADB;
    height: 10px;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: -10px;
    border-bottom-left-radius: v.$rounded-md;
    border-bottom-right-radius: v.$rounded-md;
  }

  &::after {
    background: #E7E7F2;
    left: 40px;
    right: 40px;
    bottom: -20px;
  }
}

.container {
  padding: 0 30px;

  @media (min-width: v.$breacpoint-md) {
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: v.$breacpoint-lg) {
    max-width: 964px;
  }

  @media (min-width: v.$breacpoint-xl) {
    max-width: 1380px;
  }

  @media (min-width: v.$breacpoint-xxl) {
    max-width: 1660px;
  }
}

.dotted {
  display: none;

  @media (min-width: v.$breacpoint-md) {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: v.$rounded-full;

    &--default {
      background: var(--grey-separator-color);
    }

    &--gray {
      --grey-separator-color: var(--grey-text-color);
    }
  }
}

.line {
  display: block;
  width: 100%;
  height: 4px;
  color: var(--grey-separator-color);

  &--default {
    background: var(--grey-separator-color);
  }

  &--gray {
    --grey-separator-color: var(--grey-text-color);
  }
}
