@use 'vars' as v;

body {
    font-family: v.$main-font;
    font-weight: 400;
}

.wrapper {
}
.container {
    padding: 0 30px;

    @media (min-width: v.$breacpoint-md) {
        max-width: 708px;
        margin: 0 auto;
    }

    @media (min-width: v.$breacpoint-lg) {
        max-width: 964px;
    }

    @media (min-width: v.$breacpoint-xl) {
        max-width: 1380px;
    }

    @media (min-width: v.$breacpoint-xxl) {
        max-width: 1660px;
    }
}