@use 'vars' as v;

.head {
    @include v.flex(space-between, stretch);
    
    flex-direction: column;
    min-height: 100vh;


  &__header {
  }
  &__link {
  }
  &__title {
    color: var(--wite-color);
    font-size: 38px;
    font-weight: 700;
  }
}
.header {
  &__address {
  }
  &__box {
  }
  &__box-burger {
  }
  &__box-logo {
  }
  &__container {
  }
  &__inner {
  }
  &__lang {
  }
  &__lang-item {
  }
  &__nav {
  }
  &__nav-item {
  }
  &__nav-link {
  }
  &__nav-list {
  }
  &__phone {
  }
  &__social {
  }
}
