.head {
  &__header {
  }
  &__link {
  }
  &__title {
  }
}
.header {
  &__address {
  }
  &__box {
  }
  &__box-burger {
  }
  &__box-logo {
  }
  &__container {
  }
  &__inner {
  }
  &__lang {
  }
  &__lang-item {
  }
  &__nav {
  }
  &__nav-item {
  }
  &__nav-link {
  }
  &__nav-list {
  }
  &__phone {
  }
  &__social {
  }
}
