@use "vars" as v;

.head {
  @include v.flex(space-between, stretch);

  flex-direction: column;
  min-height: 100vh;
  background: url(/src/img/icons/hilegal-symbol.svg) no-repeat center/auto 100%;

  &__header {
  }

  &__link {
    @include v.link(var(--wite-color));

    width: 42px;
    height: 42px;
    border-radius: v.$rounded-full;
    border: 2px solid;
    margin: 0 auto 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 12px;
      width: 14px;
      height: 14px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      transform: rotate(-45deg);
    }
  }

  &__title {
    color: var(--wite-color);
    font-size: 38px;
    font-weight: 700;
    text-align: center;
  }
}
.header {
  @include v.viewport-md {
    padding: 50px;
  }

  &__address {
    display: none;

    @include v.viewport-md {
      display: block;
      counter-reset: var(--grey-text-color);
    }
  }

  &__box {
    @include v.flex;

    margin: 0 -15px;
    padding: 15px 0 10px;

    @include v.viewport-md {
      margin: 0;
      padding: 0;
    }

    @include v.viewport-lg {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
    }
  }

  &__box-burger {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:active {
      background: var(--main-soft-color);
      border-radius: v.$rounded-sm;
    }

    @include v.viewport-md {
      display: none;
    }

    &::before,
    &::after,
    span {
      content: "";
      position: absolute;
      top: 8px;
      left: 6px;
      right: 6px;
      height: 2px;
      background: var(--wite-color);
    }

    &::after {
      top: auto;
      bottom: 8px;
    }

    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__box-logo {
    img {
      @include v.viewport-md {
        width: 130px;
        height: 60px;
      }
    }
  }

  &__container {
    @include v.viewport-md {
      display: flex;
      flex-flow: column;
      gap: 30px;
    }

    @include v.viewport-lg {
      position: relative;
    }
  }

  &__inner {
    @include v.flex;

    margin: 0 -30px;
    padding: 10px 15px;
    background: rgba(245, 245, 250, 0.2);

    @include v.viewport-md {
      margin: 0;
      padding: 0;
      background: none;
      justify-content: flex-start;
      gap: 6px;
    }

    @include v.viewport-lg {
      justify-content: flex-end;
    }
  }

  &__lang {
    display: flex;
  }

  &__lang-item {
    cursor: pointer;
    padding: 5px 7px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: v.$rounded-sm;
    color: var(--wite-color);

    &:hover {
      background: var(--main-soft-color);
    }

    &.active {
      background: var(--accent-color);
    }
  }

  &__nav {
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 8px;
    right: 8px;
    background: var(--wite-color);
    padding: 12px;
    border-top-left-radius: v.$rounded-md;
    border-top-right-radius: v.$rounded-md;
    transition: transform v.$transition-deley;

    &.active {
      transform: translateY(-100%);
    }

    @include v.viewport-md {
      position: static;
      background: transparent;
      padding: 0;
      border: 0;
      transform: translateY(0);
    }
  }

  &__nav-close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: block;
    margin: 0 0 20px auto;

    @include v.viewport-md {
      display: none;
    }
  }

  &__nav-item {
    background: var(--grey-bg-color);
    border-radius: v.$rounded-md;
    width: 100%;
    height: 43px;
    text-align: center;
    align-content: center;

    @include v.viewport-md {
      background: transparent;
      border-radius: 0;
      width: auto;
      height: auto;
    }
  }

  &__nav-link {
    border-bottom: none;
    text-transform: lowercase;
    font-weight: 700;
    padding-bottom: 3px;
    font-size: 24px;
    color: var(--brand-regular-color);

    &:active {
      --brand-regular-color: var(--brand-regular-color);
    }

    &.active {
      --brand-regular-color: var(--accent-color);
    }

    @include v.link;

    @include v.hover {
      border-color: var(--accent-color);
    }

    @include v.viewport-md {
      --brand-regular-color: var(--wite-color);
      font-size: 16px;
      border-bottom: 2px solid transparent;
    }
  }

  &__nav-list {
    display: flex;
    flex-flow: column;
    gap: 15px;

    @include v.viewport-md {
      flex-flow: row;
    }

    @include v.viewport-lg {
      justify-content: flex-end;
    }
  }

  &__phone {
    @include v.link(var(--wite-color));

    font-weight: 700;
  }

  &__social {
    display: none;

    @include v.viewport-md {
      @include v.link(var(--wite-color));

      display: block;
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}
