@use "vars" as v;

.publications {
  padding-top: 30px;
  background: var(--grey-bg-color);

  &__container {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
  }

  .switch {
    justify-content: center;
  }

  &__switch {
    span {
      &:active {
        color: var(--brand-active-color);
      }

      transition: all 0.1s linear;
      cursor: pointer;
    }
  }

  &__switch-input:checked + &__switch-lable::before {
    transform: translateX(calc(100% + 5px));
  }

  &__switch-lable {
    display: flex;
    gap: 7px;
    position: relative;
    height: 42px;
    border-radius: v.$rounded-md;
    background: var(--grey-separator-color);

    span {
      color: var(--main-color);
      font-weight: 700;
      padding: 10px 30px;
      position: relative;
      flex: 1 1 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }

    &:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      padding: 19px 30px;
      width: 48%;
      background: var(--wite-color);
      border-radius: 10px;
      transition: all 0.3s linear;
    }
  }

  &__inner {
  }

  &__link {
    @include v.link;

    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 4.5px;
      right: -9px;
      width: 7px;
      height: 7px;
      border-bottom: 2px solid;
      border-left: 2px solid;
      transform: rotate(0.62turn);
    }
  }

  &__title {
    @include v.subtitle;
    @include v.text-gradient(var(--red-text-gradient));
    line-height: 1.2;
    margin-top: 5px;

    @include v.viewport-md {
      margin-top: 10px;
    }
  }

  &__buttons {
    font-weight: 700;
    padding: 10px 30px;
    background: var(--wite-color);
    border-radius: 10px;
    margin: 20px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 30px;
  }

  &__card {
    display: flex;
    flex-flow: column;
    border-radius: v.$rounded-sm;
    overflow: hidden;
    background: var(--wite-color);

    @include v.viewport-md {
      flex: 1 1 45%;
    }
    @include v.viewport-lg {
      flex: 1 1 30%;
    }
  }

  &__card-image {
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__card-inner {
    @include v.flex(space-between, flex-start);
    flex-flow: column;
    gap: 15px;
    padding: 30px;
  }

  &__card-link {
    @include v.link;

    font-weight: 700;
    font-size: 16px;
  }

  &__card-data {
    font-weight: 700;
    font-size: 12px;
    color: var(--grey-text-color);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    border-top: 4px solid var(--grey-separator-color);
    padding-top: 19px;
    letter-spacing: 1px;
  }

  &__button {
    padding: 30px 0;

    button {
      font-weight: 700;
      font-size: 16px;
      background: var(--brand-regular-color);
      border-radius: v.$rounded-md;
      box-shadow: 0 0 20px 0 #24a3ff80;
    }

    a {
      padding: 18px 30px;
      color: var(--wite-color);
      text-decoration: none;
      display: block;
    }

    &:active {
      transform: translateY(1px);
    }
  }
}
