@use "vars" as v;

.services {
  padding: 0 0 60px 0;

  @include v.viewport-md {
      padding: 30px 0;
    }

  &__container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
  }

  &__inner {
    padding: 0 0 30px 0;
  }

  &__link {
    @include v.link;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;

    span {
    content: "";
    position: absolute;
    top: 4.5px;
    right: -9px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(0.62turn);
    }
  }

  &__title {
    @include v.text-gradient(var(--red-text-gradient));

    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include v.viewport-md {
      gap: 60px;
      padding: 30px 0;
    }
  }

  &__card {
    display: flex;
    flex-flow: column;
    
    @include v.viewport-md {
      flex: 1 1 45%;
    }
    @include v.viewport-lg {
      flex: 1 1 27%;
    }
  }

  &__card-img {
    width: 92px;
    height: 92px;

  }

  &__card-title {
    @include v.link;

    font-weight: 700;
    font-size: 22px;
    margin-top: 30px;
    line-height: 1;
  }

  &__card-desc {
    color: var(--wite-color);
    line-height: 26px;
    margin-top: 15px;
  }
}
