//state colors
:root {
  --main-color: #323264;
  --main-alt-color: #46466e;
  --main-soft-color: #686887;

  --accent-color: #f0145a;

  --brand-regular-color: #24a3ff;
  --brand-hover-color: #0085ff;
  --brand-active-color: #006ccf;
  --brand-box-shadow: 0px 0px 20px 0px rgba(36, 136, 255, 0.5);

  --grey-bg-color: #f5f5fa;
  --grey-bg-alt-color: #ededf7;
  --grey-text-color: #b3b3ba;
  --grey-separator-color: #e6e6f0;

  --main-gradient: linear-gradient(130deg, #323264 70%, #a54b5f);
  --soft-gradient: linear-gradient(42deg, #323264 50%, #7a425e);
  --red-gradient: linear-gradient(325deg, #f0145a 5%, #693264 70%);
  --supersoft-gradient: linear-gradient(230deg, #323264 60%, #643e72 90%);

  --red-text-gradient: linear-gradient(90deg, #f0145a, #ef8080);
  --red-reversed-gradient: linear-gradient(270deg, #f0145a, #ef8080);
}

// font
$main-font: "Montserrat", sans-serif;

// rad-es
$rounded-sm: 8px;
$rounded-md: 12px;
$rounded-lg: 24px;
$rounded-full: 50%;

//breakpoints
$breacpoint-md: 768px;
$breacpoint-lg: 1024px;
$breacpoint-xl: 1440px;
$breacpoint-xxl: 1920px;

// transition
$transition-deley: 0.3s ease-in-out;

// mixins
@mixin flex($justify-content: space-between, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin link {
  color: var(--brand-regular-color);
  text-decoration: none;
  transition: color $transition-deley;

  @include hover {
  --brand-regular-color: var(--accent-color);
  }

  &:active {
    --brand-regular-color: var(--brand-active-color);
  }
}

@mixin viewport-md {
  @media (min-width: $breacpoint-md) {
    @content;
  }
}
